Q1. An e-commerce store stores information about its products in a nested dictionary. The outer dictionary uses product IDs as keys, and the inner dictionary stores product details like name, category, price, and stock quantity. products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }

• Increase the stock of the "Shirt" product (add 50 more units) using increment/decrement operators

• Add a new product (e.g., "Smartphone")

Expected Output:

{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}}
{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 100}}

In [1]:
products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }
products

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 200},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30}}

In [2]:
products[102]["price"]

25

In [3]:
products[102]["price"] += 50
products

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 75, 'stock': 200},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30}}

In [4]:
b={104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 100}}
b

{104: {'name': 'Smartphone',
  'category': 'Electronics',
  'price': 800,
  'stock': 100}}

In [5]:
products.update(b)
products

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 75, 'stock': 200},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30},
 104: {'name': 'Smartphone',
  'category': 'Electronics',
  'price': 800,
  'stock': 100}}

Q2. You are given a list that contains some duplicate items. Remove the duplicates by converting the list to a set. Final output should be in list

shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

Expected Output:
['apple', 'grape', 'banana', 'orange']

In [6]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
shopping_list

['apple', 'banana', 'apple', 'orange', 'banana', 'grape']

In [7]:
shopping_list=set(shopping_list)
shopping_list

{'apple', 'banana', 'grape', 'orange'}

In [8]:
shopping_list=list(shopping_list)
shopping_list

['banana', 'orange', 'grape', 'apple']

#Unable to arrange excatly which is given in the question.

Q3. You are managing a list of students enrolled in two different courses. You need to perform various set operations to understand the student enrollment. Task: Create two sets: one for students in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in "Course B" (difference). Find students who are only in one of the two courses (symmetric difference). course_a = {"John", "Alice", "Bob", "David"} course_b = {"Alice", "Eve", "Charlie", "David"}

Using set methods

• Find students who are in Course A but not in Course B (difference)

• Find students who are only in one of the two courses (symmetric difference)

Expected Output:

Students in Course A but not in Course B: {'Bob', 'John'}

Students only in one of the two courses: {'Eve', 'John', 'Bob', 'Charlie'}

In [9]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}

In [10]:
course_a

{'Alice', 'Bob', 'David', 'John'}

In [11]:
course_b

{'Alice', 'Charlie', 'David', 'Eve'}

In [12]:
Students_in_Course_a_but_not_in_Course_b = course_a.difference(course_b)
Students_in_Course_a_but_not_in_Course_b

{'Bob', 'John'}

In [13]:
students_who_are_only_in_one_of_the_two_courses=course_a.symmetric_difference(course_b)
students_who_are_only_in_one_of_the_two_courses

{'Bob', 'Charlie', 'Eve', 'John'}

In [14]:
print("Students in Course A but not in Course B:",students_who_are_only_in_one_of_the_two_courses)

Students in Course A but not in Course B: {'John', 'Bob', 'Eve', 'Charlie'}

In [15]:
print("Students only in one of the two courses:",Students_in_Course_a_but_not_in_Course_b)

Students only in one of the two courses: {'John', 'Bob'}

Q4. Write a Python program to store and display the details of a book.

The program should ask the user to input the following information:

Title of the book

Author’s name

Year of publication

Price of the booK

Store the entered details in a tuple.

Finally, display the book details in a proper format as shown below:

Expected Output:

Title: Harry Potter

Author: JK Rowlings

Year of Publication: 2000

Price: $180.0

In [2]:
a=input("Title of the book:")

Title of the book:  Harry Potter

In [3]:
b=input("Author’s name:")

Author’s name: JK Rowlings

In [4]:
c=int(input("Year of publication:"))

Year of publication: 2000

In [5]:
d=input("Price:")

Price: $180.0

In [6]:
book_details =(a,b,c,d)

In [7]:
book_details

(' Harry Potter', 'JK Rowlings', 2000, '$180.0')

In [8]:
len(book_details)

4

In [9]:
Title,Author,Year_of_Publication,Price=book_details

In [10]:
print("Title:",a)
print("Author:",b)
print("Year of Publication:",c)
print("Price:",d)

Title:  Harry Potter
Author: JK Rowlings
Year of Publication: 2000
Price: $180.0

Q5. Write a program to check if a user’s chosen subject is available in the list of offered subjects.

Instructions:

Given a list of subjects, ask the user to input a subject.

Display whether the subject is available or not.

Expected Output:

Enter the subject you are interested in:  art

art is available.

In [11]:
Subject_list = ["Science", "Art", "Maths", "Engineering"]
Subject_list

['Science', 'Art', 'Maths', 'Engineering']

In [12]:
Subject=input("Enter the subject you are interested in:")

Enter the subject you are interested in: Art

In [13]:
if Subject in Subject_list:
    print(Subject + " is available")
else:
    print("Sorry " + Subject + " is not available")

Art is available

In [14]:
Subject=input("Enter the subject you are interested in:")

Enter the subject you are interested in: Molecular Biology

In [15]:
if Subject in Subject_list:
    print(Subject + " is available")
else:
    print("Sorry " + Subject + " is not available")

Sorry Molecular Biology is not available

Q6. Write a Python program that asks the user to enter a number.

If the number is greater than 0, print "Positive".

If the number is less than 0, print "Negative".

If the number is exactly 0, print "Zero".

Expected Output:

Enter a number:  2

The number is Positive

---

Enter a number:  0

The number is Zero

---

Enter a number:  -1

The number is Negative

In [16]:
number=int(input("Enter a number:"))

Enter a number: 2

In [17]:
if number > 0:
    print("Positive")
elif number < 0:
    print("Negative")
elif number == 0:
    print("Zero")

Positive

In [18]:
number=int(input("Enter a number:"))

Enter a number: 0

In [19]:
if number > 0:
    print("Positive")
elif number < 0:
    print("Negative")
elif number == 0:
    print("Zero")

Zero

In [20]:
number=int(input("Enter a number:"))

Enter a number: -1

In [21]:
if number > 0:
    print("Positive")
elif number < 0:
    print("Negative")
elif number == 0:
    print("Zero")

Negative

Q7. Write a Python program that simulates a simple login system.

The correct username is 'admin' and the correct password is 'admin@123'

The program should take username and password as input from the user.

It should check the input and display messages according to the following conditions:

- If both username and password are correct → print "Login Successful".

- If username is wrong but password is correct → print "Invalid Username".

- If username is correct but password is wrong → print "Invalid Password".

- If both username and password are wrong → print "Invalid Username and Password".

In [22]:
Correct_user_name="admin"

In [23]:
Correct_password="admin@123"

In [24]:
User_name=input("Enter user name:")

Enter user name: admin

In [25]:
password=input("Enter password:")

Enter password: admin@123

In [26]:
if Correct_user_name == User_name and Correct_password == password:
    print("Login Successful")
elif Correct_user_name != User_name and Correct_password == password:
    print("Invalid Username")
elif Correct_user_name == User_name and Correct_password != password:
    print("Invalid Password")
elif Correct_user_name != User_name and Correct_password != password:
    print("Invalid Username and Password")

Login Successful

In [27]:
User_name=input("Enter user name:")

Enter user name: Admin

In [28]:
password=input("Enter password:")

Enter password: admin@123

In [29]:
if Correct_user_name == User_name and Correct_password == password:
    print("Login Successful")
elif Correct_user_name != User_name and Correct_password == password:
    print("Invalid Username")
elif Correct_user_name == User_name and Correct_password != password:
    print("Invalid Password")
elif Correct_user_name != User_name and Correct_password != password:
    print("Invalid Username and Password")

Invalid Username

In [30]:
User_name=input("Enter user name:")

Enter user name: admin

In [31]:
password=input("Enter password:")

Enter password: Admin@123

In [32]:
if Correct_user_name == User_name and Correct_password == password:
    print("Login Successful")
elif Correct_user_name != User_name and Correct_password == password:
    print("Invalid Username")
elif Correct_user_name == User_name and Correct_password != password:
    print("Invalid Password")
elif Correct_user_name != User_name and Correct_password != password:
    print("Invalid Username and Password")

Invalid Password

In [33]:
User_name=input("Enter user name:")

Enter user name: Admin

In [34]:
password=input("Enter password:")

Enter password: Admin@123

In [35]:
if Correct_user_name == User_name and Correct_password == password:
    print("Login Successful")
elif Correct_user_name != User_name and Correct_password == password:
    print("Invalid Username")
elif Correct_user_name == User_name and Correct_password != password:
    print("Invalid Password")
elif Correct_user_name != User_name and Correct_password != password:
    print("Invalid Username and Password")

Invalid Username and Password

Q8.

student_details = {
    "Ali": {"age": 20, "grade": "A", "city": "Karachi"},
    "Sara": {"age": 21, "grade": "B", "city": "Lahore"},
    "Omar": {"age": 19, "grade": "A", "city": "Islamabad"},
    "Hina": {"age": 22, "grade": "C", "city": "Faisalabad"}
}

- Add a new student using method:
  "Zara": {"age": 20, "grade": "B", "city": "Multan"}

- Remove a student "Omer" using method

Expected Output:

{'Ali': {'age': 20, 'grade': 'A', 'city': 'Karachi'}, 'Sara': {'age': 21, 'grade': 'B', 'city': 'Lahore'}, 'Hina': {'age': 22, 'grade': 'C', 'city': 'Faisalabad'}, 'Zara': {'age': 20, 'grade': 'B', 'city': 'Multan'}}

In [36]:
student_details = { "Ali": {"age": 20, "grade": "A", "city": "Karachi"}, "Sara": {"age": 21, "grade": "B", "city": "Lahore"}, "Omar": {"age": 19, "grade": "A", "city": "Islamabad"}, "Hina": {"age": 22, "grade": "C", "city": "Faisalabad"} }
student_details

{'Ali': {'age': 20, 'grade': 'A', 'city': 'Karachi'},
 'Sara': {'age': 21, 'grade': 'B', 'city': 'Lahore'},
 'Omar': {'age': 19, 'grade': 'A', 'city': 'Islamabad'},
 'Hina': {'age': 22, 'grade': 'C', 'city': 'Faisalabad'}}

In [37]:
new_student = {'Zara': {"age": 20, "grade": "B", "city": "Multan"}}
new_student

{'Zara': {'age': 20, 'grade': 'B', 'city': 'Multan'}}

In [38]:
student_details.update(new_student)
student_details

{'Ali': {'age': 20, 'grade': 'A', 'city': 'Karachi'},
 'Sara': {'age': 21, 'grade': 'B', 'city': 'Lahore'},
 'Omar': {'age': 19, 'grade': 'A', 'city': 'Islamabad'},
 'Hina': {'age': 22, 'grade': 'C', 'city': 'Faisalabad'},
 'Zara': {'age': 20, 'grade': 'B', 'city': 'Multan'}}

In [39]:
student_details.pop("Omar",None)

{'age': 19, 'grade': 'A', 'city': 'Islamabad'}

In [40]:
student_details

{'Ali': {'age': 20, 'grade': 'A', 'city': 'Karachi'},
 'Sara': {'age': 21, 'grade': 'B', 'city': 'Lahore'},
 'Hina': {'age': 22, 'grade': 'C', 'city': 'Faisalabad'},
 'Zara': {'age': 20, 'grade': 'B', 'city': 'Multan'}}

Q9. Write program to check a person’s eligibility for a loan based on age, credit score, and income. This time, the eligibility criteria will be:

The person must be 18 years or older. The person must have a credit score of 650 or higher. The person must have an annual income of at least 30000 dollars If the person has a credit score of 700 or higher, they may still be eligible with an income of 25000 dollars or more.

Expected Output:

Enter your age:  22

Enter your credit score:  888

Enter your annual income: $ 800000

You are eligible for the loan!

---

Enter your age:  15

Enter your credit score:  800

Enter your annual income: $ 900000

You are not eligible for the loan due to age.

---

Enter your age:  35

Enter your credit score:  99

Enter your annual income: $ 900000

You are not eligible for the loan due to low credit score.

The person must be 18 years or older. The person must have a credit score of 650 or higher. The person must have an annual income of at least 30000 dollars If the person has a credit score of 700 or higher, they may still be eligible with an income of 25000 dollars or more.
age >= 18 and credit_score >=650 and annual_income>= "$30000"
if credit_score >=700 and annual_income>= "$25000"

In [41]:
age=int(input("Enter your age:"))

Enter your age: 22

In [42]:
credit_score=int(input("Enter your credit score:"))

Enter your credit score: 888

In [43]:
annual_income=input("Enter your annual income:")

Enter your annual income: $80000

In [44]:
if age >= 18:
    if (credit_score >=650 and annual_income>= "$30000") or (credit_score>=700 and annual_income >="25000"):
        print("You are eligible for the loan!")
    if (credit_score <650 and annual_income< "$30000") or (credit_score<700 and annual_income <"25000"):
        print("You are not eligible for the loan due to low credit score.")
elif age !=18:
    print("You are not eligible for the loan due to age.")

You are eligible for the loan!

In [45]:
age=int(input("Enter your age:"))

Enter your age: 15

In [46]:
credit_score=int(input("Enter your credit score:"))

Enter your credit score: 800

In [47]:
annual_income=input("Enter your annual income:")

Enter your annual income: $90000

In [48]:
if age >= 18:
    if (credit_score >=650 and annual_income>= "$30000") or (credit_score>=700 and annual_income >="25000"):
        print("You are eligible for the loan!")
    if (credit_score <650 and annual_income< "$30000") or (credit_score<700 and annual_income <"25000"):
        print("You are not eligible for the loan due to low credit score.")
elif age !=18:
    print("You are not eligible for the loan due to age.")

You are not eligible for the loan due to age.

In [49]:
age=int(input("Enter your age:"))

Enter your age: 35

In [50]:
credit_score=int(input("Enter your credit score:"))

Enter your credit score: 99

In [51]:
annual_income=input("Enter your annual income:")

Enter your annual income: $90000

In [52]:
if age >= 18:
    if (credit_score >=650 and annual_income>= "$30000") or (credit_score>=700 and annual_income >="25000"):
        print("You are eligible for the loan!")
    if (credit_score <650 and annual_income< "$30000") or (credit_score<700 and annual_income <"25000"):
        print("You are not eligible for the loan due to low credit score.")
elif age !=18:
    print("You are not eligible for the loan due to age.")

You are not eligible for the loan due to low credit score.

Q10. Write a Python program to check whether the entered letter is a vowel, a consonant, or invalid input.

The program should take a single character as input. If the character is a vowel (a, e, i, o, u in both upper and lower case), it will print "Vowel". If it is an alphabet but not a vowel, it will print "Consonant". Otherwise, it will print "Please enter valid alphabet".

Expected Output:

Enter a single letter:  a

a is a Vowel

---

Enter a single letter:  E

E is a Vowel

---

Enter a single letter:  z

z is a Consonant

---

Enter a single letter:  7

Please enter valid alphabet

In [66]:
letter=input("Enter an alphabet:")

Enter an alphabet: a

In [67]:
if len(letter)==1 and letter.isalpha():
    if letter.lower() in "aeiou":
        print(letter + " is a Vowel")
    else:
        print(letter+ " is a Consonant")
else:
    print("Please enter valid alphabet")

a is a Vowel

In [74]:
letter=input("Enter an alphabet:")

Enter an alphabet: E

In [75]:
if len(letter)==1 and letter.isalpha():
    if letter.lower() in "aeiou":
        print(letter + " is a Vowel")
    else:
        print(letter+ " is a Consonant")
else:
    print("Please enter valid alphabet")

E is a Vowel

In [76]:
letter=input("Enter an alphabet:")

Enter an alphabet: z

In [77]:
if len(letter)==1 and letter.isalpha():
    if letter.lower() in "aeiou":
        print(letter + " is a Vowel")
    else:
        print(letter+ " is a Consonant")
else:
    print("Please enter valid alphabet")

z is a Consonant

In [78]:
letter=input("Enter an alphabet:")

Enter an alphabet: 7

In [79]:
if len(letter)==1 and letter.isalpha():
    if letter.lower() in "aeiou":
        print(letter + " is a Vowel")
    else:
        print(letter+ " is a Consonant")
else:
    print("Please enter valid alphabet")

Please enter valid alphabet