Question 1:

Write a Python program that prints numbers from 1 to 20, but skips all even numbers.

Use a while loop.

Use the continue statement

The numbers should be printed on the same line separated by spaces.

Expected Output:

1 3 5 7 9 11 13 15 17 19

In [1]:
i = 1
while i <= 20:
    if i % 2 == 0:
        i += 1
        continue
    print(i, end=" ")
    i+=1

1 3 5 7 9 11 13 15 17 19

In [2]:
i = 1
while i <= 18:
        i += 2
        print(i, end=' ')

3 5 7 9 11 13 15 17 19

Question 2:

Write a Python program that keeps asking the user to enter numbers and prints them.

The program should stop the loop if the user enters a negative number.

Use a while True loop with a break statement

Expected Output:

Enter a number (negative to stop): 5

You entered: 5

Enter a number (negative to stop): 10

You entered: 10

Enter a number (negative to stop): -3

Negative number entered. Loop stopped!

In [3]:
while True:
    number = int(input("Enter a number (negative to stop): "))
    if number < 0:
        print("Negative number entered. Loop stopped!")
        break
print("You entered: ", number)

Enter a number (negative to stop):  5
Enter a number (negative to stop):  10
Enter a number (negative to stop):  -3

Negative number entered. Loop stopped!
You entered:  -3

Question 3:


Write a Python program that asks the user to guess a secret word.

Keep asking until the user enters the correct word ("python").

When guessed correctly, print "ðŸŽ‰ You guessed it!"

Expected Output:

Guess the word: java

Guess the word: ruby

Guess the word: python

ðŸŽ‰ You guessed it!

In [4]:
while True:
    secret_word="python"
    guess_a_secret_word=input("Guess a secret word")
    if secret_word == guess_a_secret_word:
        print("ðŸŽ‰ You guessed it!")
        break

Guess a secret word java
Guess a secret word ruby
Guess a secret word python

ðŸŽ‰ You guessed it!

Question 4:

orders = [
    {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]},
    {"order_id": 2, "customer": "Sara", "items": [200, 150]},
    {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]},
    {"order_id": 4, "customer": "Naveed", "items": [300]},
]

You are given a list of e-commerce orders. Each order has:

an order ID

a customer name

a list of items with prices

Write a Python program to print all items for each order using nested while loops.

Expected Output:

Order ID: 1 Customer: Ali

 Item Price: 120
 
 Item Price: 80
 
 Item Price: 50

Order ID: 2 Customer: Sara

 Item Price: 200
 
 Item Price: 150

Order ID: 3 Customer: Raheel

 Item Price: 90
 
 Item Price: 60
 
 Item Price: 40
 
 Item Price: 30

Order ID: 4 Customer: Naveed

 Item Price: 300

In [5]:
orders = [ {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]}, {"order_id": 2, "customer": "Sara", "items": [200, 150]}, {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]}, {"order_id": 4, "customer": "Naveed", "items": [300]}, ]
orders

[{'order_id': 1, 'customer': 'Ali', 'items': [120, 80, 50]},
 {'order_id': 2, 'customer': 'Sara', 'items': [200, 150]},
 {'order_id': 3, 'customer': 'Raheel', 'items': [90, 60, 40, 30]},
 {'order_id': 4, 'customer': 'Naveed', 'items': [300]}]

In [6]:
i = 0
while len(orders)>i:
    order = orders[i]
    print("Order ID:",order['order_id'], "Customer:",order['customer'])
    j = 0
    while len(order["items"])>j:
        print("Item Price: ",order["items"])
        j +=1
    print()    
    i+=1

Order ID: 1 Customer: Ali
Item Price:  [120, 80, 50]
Item Price:  [120, 80, 50]
Item Price:  [120, 80, 50]

Order ID: 2 Customer: Sara
Item Price:  [200, 150]
Item Price:  [200, 150]

Order ID: 3 Customer: Raheel
Item Price:  [90, 60, 40, 30]
Item Price:  [90, 60, 40, 30]
Item Price:  [90, 60, 40, 30]
Item Price:  [90, 60, 40, 30]

Order ID: 4 Customer: Naveed
Item Price:  [300]

Question 5:

Print total amount spent by each customer (Using nested while loop)

orders = [
    {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]},
    {"order_id": 2, "customer": "Sara", "items": [200, 150]},
    {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]},
    {"order_id": 4, "customer": "Naveed", "items": [300]},
]

Expected Output:

Ali spent total: 250

Sara spent total: 350

Raheel spent total: 220

Naveed spent total: 300

In [7]:
orders = [ {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]}, {"order_id": 2, "customer": "Sara", "items": [200, 150]}, {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]}, {"order_id": 4, "customer": "Naveed", "items": [300]}, ]
orders

[{'order_id': 1, 'customer': 'Ali', 'items': [120, 80, 50]},
 {'order_id': 2, 'customer': 'Sara', 'items': [200, 150]},
 {'order_id': 3, 'customer': 'Raheel', 'items': [90, 60, 40, 30]},
 {'order_id': 4, 'customer': 'Naveed', 'items': [300]}]

In [8]:
i=0
while len(orders)>i:
    order= orders[i]
    total = 0

    j=0
    while len(order["items"])>j:
        total += order["items"][j]
        j+=1
    print(order["customer"], "spent total:",total)
    print()
    i+=1

Ali spent total: 250

Sara spent total: 350

Raheel spent total: 220

Naveed spent total: 300

Question 6:

Print the maximum item price for each order. (Using nested while loop)

orders = [ {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]}, {"order_id": 2, "customer": "Sara", "items": [200, 150]}, {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]}, {"order_id": 4, "customer": "Naveed", "items": [300]}, ]

Expected Output:

Most expensive item in Order 1 = 120

Most expensive item in Order 2 = 200

Most expensive item in Order 3 = 90

Most expensive item in Order 4 = 300

In [9]:
orders = [ {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]}, {"order_id": 2, "customer": "Sara", "items": [200, 150]}, {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]}, {"order_id": 4, "customer": "Naveed", "items": [300]}, ]
orders

[{'order_id': 1, 'customer': 'Ali', 'items': [120, 80, 50]},
 {'order_id': 2, 'customer': 'Sara', 'items': [200, 150]},
 {'order_id': 3, 'customer': 'Raheel', 'items': [90, 60, 40, 30]},
 {'order_id': 4, 'customer': 'Naveed', 'items': [300]}]

In [10]:
i=0
while len(orders)>i:
    order = orders[i]
    item = order['items']
    j=0
    while len(item)>j:
        if item[j] > max_price:
            max_price = item[j]
        j+=1
    print('Most expensive item in Order', order['order_id'], '=',max_price)
    i+=1

NameError: name 'max_price' is not defined

In [ ]:
# unable to solve this question.

Question 7:

Write a Python program to create a single list (list comprehension) that contains all numbers from 1 to 50 which are multiples of 5 and 10.

Expected Output:

Multiples of 5 and 10 from 1 to 50: [10, 20, 30, 40, 50]

In [11]:
Multiples_of_5_and_10_from_1_to_50 = [i for i in range(1,51) if i%5==0 and i%10==0]
print("Multiples of 5 and 10 from 1 to 50:",Multiples_of_5_and_10_from_1_to_50 )

Multiples of 5 and 10 from 1 to 50: [10, 20, 30, 40, 50]

Question 8:

employees = [
    {"emp_id": 1, "name": "Ali", "dept": "Sales", "salary": 50000, "experience": 2},
    {"emp_id": 2, "name": "Sara", "dept": "IT", "salary": 65000, "experience": 5},
    {"emp_id": 3, "name": "Raheel", "dept": "HR", "salary": 45000, "experience": 1},
    {"emp_id": 4, "name": "Naveed", "dept": "Finance", "salary": 70000, "experience": 7},
    {"emp_id": 5, "name": "Ayesha", "dept": "IT", "salary": 72000, "experience": 6},
    {"emp_id": 6, "name": "Talha", "dept": "Sales", "salary": 55000, "experience": 3},
    {"emp_id": 7, "name": "Sana", "dept": "Finance", "salary": 80000, "experience": 8},
    {"emp_id": 8, "name": "Hina", "dept": "HR", "salary": 48000, "experience": 2},
]

Using List Comprehension

Employees with salary > 60,000 AND experience > 5 years

Expected Output:
['Naveed', 'Ayesha', 'Sana']

In [12]:
employees = [ {"emp_id": 1, "name": "Ali", "dept": "Sales", "salary": 50000, "experience": 2}, {"emp_id": 2, "name": "Sara", "dept": "IT", "salary": 65000, "experience": 5}, {"emp_id": 3, "name": "Raheel", "dept": "HR", "salary": 45000, "experience": 1}, {"emp_id": 4, "name": "Naveed", "dept": "Finance", "salary": 70000, "experience": 7}, {"emp_id": 5, "name": "Ayesha", "dept": "IT", "salary": 72000, "experience": 6}, {"emp_id": 6, "name": "Talha", "dept": "Sales", "salary": 55000, "experience": 3}, {"emp_id": 7, "name": "Sana", "dept": "Finance", "salary": 80000, "experience": 8}, {"emp_id": 8, "name": "Hina", "dept": "HR", "salary": 48000, "experience": 2}, ]
employees

[{'emp_id': 1,
  'name': 'Ali',
  'dept': 'Sales',
  'salary': 50000,
  'experience': 2},
 {'emp_id': 2, 'name': 'Sara', 'dept': 'IT', 'salary': 65000, 'experience': 5},
 {'emp_id': 3,
  'name': 'Raheel',
  'dept': 'HR',
  'salary': 45000,
  'experience': 1},
 {'emp_id': 4,
  'name': 'Naveed',
  'dept': 'Finance',
  'salary': 70000,
  'experience': 7},
 {'emp_id': 5,
  'name': 'Ayesha',
  'dept': 'IT',
  'salary': 72000,
  'experience': 6},
 {'emp_id': 6,
  'name': 'Talha',
  'dept': 'Sales',
  'salary': 55000,
  'experience': 3},
 {'emp_id': 7,
  'name': 'Sana',
  'dept': 'Finance',
  'salary': 80000,
  'experience': 8},
 {'emp_id': 8, 'name': 'Hina', 'dept': 'HR', 'salary': 48000, 'experience': 2}]

In [13]:
employee_record = [order['name'] for order in employees if order['salary']>60000 and order['experience']>5]
employee_record

['Naveed', 'Ayesha', 'Sana']

Question 9:

Employees with NOT HR department

Expected Output:
['Ali', 'Sara', 'Naveed', 'Ayesha', 'Talha', 'Sana']

In [14]:
employee_record1 = [order['name'] for order in employees if order['dept']!='HR']
employee_record1

['Ali', 'Sara', 'Naveed', 'Ayesha', 'Talha', 'Sana']

Question 10:

Employees NOT in Sales OR experience > 5

Expected Output:
['Sara', 'Raheel', 'Naveed', 'Ayesha', 'Sana', 'Hina']

In [15]:
employee_record2 = [order['name'] for order in employees if order['dept']!='Sales' or order['experience']>5]
employee_record2

['Sara', 'Raheel', 'Naveed', 'Ayesha', 'Sana', 'Hina']